<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildInfo</key>
	<string>MiscFixes-f5e30ae5</string>
	<key>BuildTimeStamp</key>
	<string>Fri Nov 24 12:26:41 +08 2017</string>
</dict>
</plist>
